<div ng-if="bet.bet_specific.hometeamselected">
    {{bet.bet_specific.hometeam}} (<div class="inline" ng-if="bet.laybet">Not &nbsp</div>{{bet.bet_specific.result | capitalize}})
</div>
<div  ng-if="!bet.bet_specific.hometeamselected">
    {{bet.bet_specific.awayteam}} (<div class="inline" ng-if="bet.laybet">Not &nbsp</div>{{bet.bet_specific.result | capitalize}})
</div>
<div>
    {{bet.tmp_sport_name | capitalize}}/{{bet.bet_specific.hometeam | capitalize}} vs {{bet.bet_specific.awayteam | capitalize}} / <div class="inline" ng-class="{ 'blackText' : bet.betstatusid==1, 'greenText' : bet.betstatusid==2, 'redText':bet.betstatusid==3, 'yellowText':bet.betstatusid==4}">{{bet.tmp_bet_status_name | capitalize}}</div>
</div>
