html
    head
        base(href='/')
        include ./links/css_links.html
    body(ng-app='betManager')
        include ./links/navbar.html
        |<toast id='toastMessage'></toast>
        | <div ui-view></div>



    include ./links/script_tags.html

