.addBetsModal {
    width:90%;
    height:5%;
    background:#fff;
    margin-bottom:15px;
}

.modal .modal-dialog {
    width: 60%;
}

div#modal-button-container{
    margin: 30px auto;
}

div#add-bet-headers{
    margin-bottom: 2%;
    margin-top: 2%;
}

#addBetInput .input-group{
    margin-top: 10%;
}

#addBetCase div.input-group{
    width:80%;
}

#addBetModal .topRow{
    margin-top:20px;
}

#addBetModal .topRowInput{
    margin-top: 37px;
    margin-bottom:35px;
}

#addBetBetCaseId{
    margin-left: 1.4%
}