.greenText{
    color:forestgreen;
}


.redText{
    color:#ed737a;
}

.blueText{
    color:#87d1fe;
}

.yellowText{
    color:#fef3db;
}

.whiteText{
    color:#FFFFFF;
}

.blackText{
    color:black;
}

.purpleText{
    color: #8e24aa;
}

.betSmithColorText{
    color:#87d1fe;
}

.backgroundGreen{
    background-color: #5bb355;
}

.backgroundRed{
    background-color: #e7404a;
}

.backgroundYellow{
    background-color: #f8c14d;
}


.backgroundBlack{
    background-color: black;
}

.backgroundWhite{
    background-color: white;
}

.backgroundPurple{
    background-color: #8e24aa;
}

.inline {
    display: inline-block;
}

.slide-toggle {
    overflow: hidden;
    transition: all 1s;
}

.topMargin20{
    margin-top: 20px;
}

.topMargin10{
    margin-top: 10px;
}

.noMargin{
    margin:0px
}

.paddingBottomAndTop075{
    padding-top: 0.75%;
    padding-bottom: 0.75%;
}

.colWidth2{
    width:2%
}

.colWidth5{
    width:5%
}

.colWidth10{
    width:10%
}
.md-select-menu-container{
    z-index: 99999!important;
}

.width90{
    width:90%;
}

.heightOneEm{
    height: 1rem;
}