.box h3{
    text-align:center;
    position:relative;
    top:80px;
}
.overviewBox {
    height:10%;
    background:#fff;
    margin:30px auto;
    margin-bottom: 1px;
}

.addCaseBoxTop {
    height:5%;
    background:#fff;
    margin-top:30px;
}

.addCaseBoxBottom{
    height:5%;
    background:#fff;
}

.sportBox{
    height:10%;
    background:#fff;
    margin-top: 30px;
}

.openBetsBox{
    height:10%;
    background:#fff;
}

.addBetsBox{
    background:#fff;
}

.addSaveBox{
    background:#fff;
}

.editBetCaseIcons{
    background:#fff;
    border-style: solid;
    border-right:1px;
    border-width:thin;
    border-color:lightgray;
}

.currentBetsBox{
    background:#fff;
}


.openCurrentBetsBox{
    height:auto;
    background:#fff;
    border-top-color: #87d1fe;
    border-top-width:thick ;
    border-color:lightgray;
}




/*==================================================
 * Effect 8
 * ===============================================*/
.effect8{
    box-shadow: 0 5px 3px -3px #777;
    border-style: solid;
    border-width:thin;
    border-color:lightgray;
}

#logBook img{
    width:40px;
    height: 40px;
}

.tableStatus
{
    width: 3px;
}

.toWin{
    background-color: lightgreen;
}

.toLose{
    background-color: lightcoral;
}

/*MINIMAL STYLE*/
table.minimal-style { background: #FFFFFF; border-collapse: collapse; font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif; font-size: 12px; text-align: left; width:100%; min-width: 480px; margin-bottom:25px; }
table.minimal-style th { border-bottom: 2px solid #444; color: #666666; font-size: 14px; font-weight: normal; padding: 10px; }
table.minimal-style td { border-bottom: 1px solid #CCCCCC; color: #999; padding: 8px 10px; }
table.minimal-style tbody tr:hover td {color:#444;}
