
<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="static/css/navbar.css">
<link rel="stylesheet" type="text/css" href="static/css/logbook.css">
<link rel="stylesheet" type="text/css" href="static/css/homepage.css">
<link rel="stylesheet" type="text/css" href="static/css/accounts.css">
<link rel="stylesheet" type="text/css" href="static/css/addbetmodal.css">
<link rel="stylesheet" type="text/css" href="static/css/addaccount.css">
<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
