
<!-- Angular JS-->
<script src="bower_components/angular/angular.js" type="application/javascript"></script>
<script src="bower_components/angular-animate/angular-animate.js" type="application/javascript"></script>
<script src="bower_components/angular-aria/angular-aria.js" type="application/javascript"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js" type="application/javascript"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js" type="application/javascript"></script>
<script src="bower_components/angular-cookies/angular-cookies.js" type="application/javascript"></script>
<script src="bower_components/angular-material/angular-material.js" type="application/javascript"></script>
<script src="bower_components/angular-messages/angular-messages.js" type="application/javascript"></script>
<script src="bower_components/angular-resource/angular-resource.js" type="application/javascript"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js" type="application/javascript"></script>
<script src="bower_components/angular-touch/angular-touch.js" type="application/javascript"></script>
<script src="bower_components/angular-smart-table/dist/smart-table.js" type="application/javascript"></script>

<!--SmartTable-->
<script src="bower_components/angular-ui-router/release/angular-ui-router.js" type="application/javascript"></script>


<!--NGTOAST -->
<script src="bower_components/ngToast/dist/ngToast.js" type="application/javascript"></script>

<!--Jquery-->
<script src="bower_components/jquery/dist/jquery.js" type="application/javascript"></script>

<!-- Underscore -->
<script src="bower_components/underscore/underscore-min.js" type="application/javascript"></script>

 <!-- Bootstrap -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js" type="application/javascript"></script>



<!-- Loaded Modules -->

<!--Index -->
<script src="static/js/index.js" type="application/javascript"></script>
<script src="static/js/authentication/authentication.js" type="application/javascript"></script>
<script src="static/js/main/main.js" type="application/javascript"></script>

<!--Services-->
<script src="static/js/main/services/helper.service.js" type="application/javascript"></script>
<script src="static/js/main/services/betManagerApi.service.js" type="application/javascript"></script>

<!--Accounts-->
<script src="static/js/main/accounts/account.controller.js" type="application/javascript"></script>
<script src="static/js/main/accounts/addAccount.controller.js" type="application/javascript"></script>

<!--Authenticate-->
<script src="static/js/authentication/controllers/login.controller.js" type="application/javascript"></script>
<script src="static/js/authentication/services/auth.service.js" type="application/javascript"></script>

<!--HomePage-->
<script src="static/js/main/homepage/main.homepage.controller.js" type="application/javascript"></script>
<script src="static/js/main/homepage/main.homepage.thisWeek.controller.js" type="application/javascript"></script>
<script src="static/js/main/homepage/main.homepage.totalWinnings.controller.js" type="application/javascript"></script>

<!--Misc-->
<script src="static/js/main/misc_controllers/navbar.controller.js" type="application/javascript"></script>
<script src="static/js/main/misc_controllers/addBet.controller.js" type="application/javascript"></script>

<!--LogBook-->
<script src="static/js/main/logbook/logbook.controller.js" type="application/javascript"></script>

<!--Directives-->
<script src="static/js/main/directives/bet_event_fb_absolute.directive.js" type="application/javascript"></script>
<script src="static/js/main/directives/bet_event_fb_ht_ft_score.directive.js" type="application/javascript"></script>

<!--Filters-->
<script src="static/js/main/filters/capitalize.filter.js" type="application/javascript"></script>

<!--Animations-->
<script src="static/js/main/animations/slide.animation.js" type="application/javascript"></script>

