<div id="accounts" class="container-fluid">
    <div class="col-md-1">
    </div>
    <div class="col-md-8">
        <div id="AccountBanner" class="row">
            <div class="col-sm-2">
                <div ng-click="vm.openAddAccount()" class="row  addNewAccountBoxBottom effect8">
                    <img src="static/images/plus-sign.png" alt="btn" class="img-rounded">
                    New Account
                </div>
                <div class="row addNewAccountBoxBottom effect8 ">
                    <img src="static/images/pencilEdit.png" alt="btn" class="img-rounded">

                    Edit Mode
                </div>
            </div>
            <div class="col-sm-10 accountOverviewBox effect8">
                <b>Accounts</b>
            </div>
        </div>
        <div class="row activeAccountsBox effect8">
            <div class="col-sm-3"> Active </div>
            <div class="col-sm-3"> 3 Active accounts</div>
            <div class="col-sm-6">
                <img class="pull-right" src="static/images/info.png"  alt="btn" class="img-rounded">
                <img class="pull-right" src="static/images/circledown.png"  alt="btn" class="img-rounded">
            </div>
        </div>
        <div class="row effect8">
            <table class="minimal-style">
                <thead>
                    <th class="accountColour"></th>
                    <th>Account</th>
                    <th> Commission</th>
                    <th>Total Bets</th>
                    <th>Winning Bets</th>
                    <th>Win Percentage</th>
                    <th>Winnings</th>
                    <th>Regular Bets</th>
                    <th>Free Bets</th>
                    <th>Regular Bet / Free Bet Ratio</th>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>bet365</td>
                        <td>0%</td>
                        <td>10</td>
                        <td>4</td>
                        <td>40%</td>
                        <td>-£50</td>
                        <td>5</td>
                        <td>5</td>
                        <td>1/1</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>betFair</td>
                        <td>2%</td>
                        <td>19</td>
                        <td>2</td>
                        <td>20%</td>
                        <td>£60</td>
                        <td>3</td>
                        <td>6</td>
                        <td>3/1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-1">

    </div>
</div>
