<div>
    <div class="jumbotron">
        <div class="container">
            <div class="col-xs-3">
                <div id="Add" class="col-xs-12">
                    <table id="addTable">
                        <tbody class="paddingimages">
                        <tr>
                            <td><img src="static/images/plus-sign.png"> Add new case</td>
                        </tr>
                        <tr>
                            <td><img src="static/images/plus-sign.png"> Add new account</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-xs-12"> &nbsp</div>
                <div id="letSomeoneKnow" class="col-xs-12">
                    <div class="paddingimages col-xs-3">
                        <img src="static/images/friends.png">
                    </div>
                    <div class="col-xs-9 smallfont">
                        <p><b>Know somebody who might like us?</b></p>
                        <p>Let them know and grab yourself a <b>free £5 Amazon Gift Card</b> when they sign up</p>
                        <p>Terms & Conditions apply</p>
                        <p><a href="refer">refer now</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-9">
                <div id="totalWinnings" class="col-xs-12">
                    <div ui-view="totalWinnings"></div>
                </div>
                <div id="thisWeek" class="col-xs-12">
                    <div ui-view="thisWeek"></div>
                </div>
            </div>
        </div>
    </div>
</div>