<div>
    <div class="col-xs-12">
        <div class="col-xs-4">
            <h4>TOTAL WINNINGS</h4>
        </div>
        <div class="col-xs-2">
            <div>  + £353.47</div>
        </div>
        <div class="col-xs-2">
            <div>    54.32% </div>
        </div>
        <div class="col-xs-2">
            <div> £1000</div>
        </div>
        <div class="col-xs-2 pull-right twobuttons">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default"><img class="paddingimages"src="static/images/info.png"></button>
                <button ng-click="vm.hideTotalWinnings = !vm.hideTotalWinnings" type="button" class="btn btn-default"><img class="paddingimages"src="static/images/circledown.png"></button>
            </div>
        </div>
    </div>
    <div uib-collapse="vm.hideTotalWinnings">
        <div class="well well-lg">Some content</div>
    </div>

</div>