<div id="logBook" class="container-fluid">
    <div class="col-md-1">

    </div>

    <div class="col-md-10">
        <div class="row">
            <div id="betSummaries" class="row effect8 paddingBottomAndTop075">
                <div class="col-sm-6">
                    <h1> ALL BETS</h1>
                </div>
                <div class="col-sm-2 topMargin20">
                    <h3 class="inline betSmithColorText"><b>3</b></h3> <h4 class="inline">Open</h4>
                </div>
                <div class="col-sm-2 topMargin20">
                    <h3 class="inline betSmithColorText"><b>1</b></h3> <h4 class="inline">Closed</h4>
                </div>
                <div class="col-sm-2 topMargin20">
                    <h3 class="inline betSmithColorText"><b>0</b></h3> <h4 class="inline">Ready for review</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="sports" class="row effect8 paddingBottomAndTop075">
                <div class="col-xs-3">
                    <h2>SPORTS</h2>
                </div>
                <div class="col-xs-2 topMargin20">
                    <h4 class="inline" ng-class="(vm.betSummary.totalProfit < 0) ? 'redText':'greenText'">£{{vm.betSummary.totalProfit | number : 2}}     </h4>
                    <h5 class="inline">Overall winnings</h5>
                </div>
                <div class="col-xs-2 topMargin20">
                    <h4 class="inline" ng-class="(vm.betSummary.winPercentage < 50) ? 'redText':'greenText'">{{vm.betSummary.winPercentage | number : 2}}%</h4>
                    <h5 class="inline">Win Percentage</h5>
                </div>

                <div class="col-xs-2 topMargin20 inline">
                    <h4 class="inline" ng-class="(vm.betSummary.averageWin< 50) ? 'redText':'greenText'">£{{vm.betSummary.averageWin | number : 2}}</h4>
                    <h5 class="inline"> Average Win</h5>
                </div>

                <div class="col-xs-3 topMargin20">
                    <h4> 1 ready for review </h4>
                </div>
            </div>

            <div id="Open" class="row effect8 paddingBottomAndTop075">
                <div class="col-xs-3">
                    <h2>OPEN</h2>
                </div>
                <div class="col-xs-2">
                    <h3><div class="inline betSmithColorText"><b>3</b></div> Open</h3>
                </div>
                <div class="col-xs-2">
                    <h3><div class="inline betSmithColorText"><b>1</b></div> Ready to review</h3>
                </div>

                <div class="col-xs-2">

                </div>

                <div class="col-xs-3">
                    <img class="pull-right" src="static/images/info.png"  alt="btn" class="img-rounded">
                    <img ng-click="vm.showOpenBets = !vm.showOpenBets" class="pull-right" src="static/images/circledown.png"  alt="btn" class="img-rounded">
                </div>
            </div>
            <div class="slide-toggle row effect8" ng-show="vm.showOpenBets" class="row currentBetsBox effect8">
                <table id="logbookOpen" class="table">
                    <thead>
                        <tr>
                            <th>Case ID</th>
                            <th class="tableStatus"></th>
                            <th>Event</th>
                            <th>Time</th>
                            <th>Stake</th>
                            <th>Odds</th>
                            <th>Account</th>
                            <th>Bet Type</th>
                            <th>Winnings</th>
                            <th>Case Profit</th>
                        </tr>
                    </thead>
                    <tbody id="logbookEventCase" ng-repeat="betcase in vm.case_bets">
                        <tr ng-repeat="bet in betcase">

                            <td ng-if="$first" rowspan="{{betcase.length}}">{{bet.betcaseid}}.</td>
                            <td class="toLose"></td>
                            <td>
                                <fb-absolute ng-if="bet.betmarketid=='1'"></fb-absolute>
                                <fb-ht-ft ng-if="bet.betmarketid=='2'"></fb-ht-ft>
                                <div ng-if="bet.betmarketid>'2'">TODO</div>
                            </td>
                            <td> {{bet.datetime | date:'dd/MM/yy - hh:mm a'}}</td>
                            <td> {{bet.stake}}</td>
                            <td> {{bet.odds}}</td>
                            <td> {{bet.tmp_bookie_name | capitalize}} </td>
                            <td> {{bet.tmp_bet_type_name | capitalize}} </td>
                            <td ng-class="(bet.profit < 0) ? 'redText':'greenText'"> £{{bet.profit | number:2}} </td>
                            <td id="logbookProfitTd" class="whiteText" ng-class="(vm.calcBetProfit(betcase)  < 0) ? 'backgroundRed':'backgroundGreen'" ng-if="$first" rowspan="{{betcase.length}}"> <div id="logbookProfit"><b>£{{vm.calcBetProfit(betcase) | number:2}}</b></div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div id="Close" class="row openBetsBox effect8">
                <div class="col-xs-3">
                    Close
                </div>
                <div class="col-xs-2">
                    1 Closed
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-2"></div>
                <div class="col-xs-3">
                    <img class="pull-right" src="static/images/info.png"  alt="btn" class="img-rounded">
                    <img class="pull-right" src="static/images/circledown.png"  alt="btn" class="img-rounded">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-1">


    </div>
</div>