<div class="col-md-1">

</div>
<div class="col-sm-12 col-md-10">
    <div class="col-sm-2">
        <div class="col-sm-12 addCaseBoxTop effect8">
            New Case
        </div>
        <div class="col-sm-12 addCaseBoxBottom effect8">
            Edit mode
        </div>
    </div>
    <div class="col-sm-10 overviewBox effect8">
        <div class="col-sm-3">
            <B> ALL BETS</B>
        </div>
        <div class="col-sm-3">
            3 Open
        </div>
        <div class="col-sm-3">
            1 Closed
        </div>
        <div class="col-sm-3">
            0 ready for review
        </div>
    </div>

    <div id="sports" class="col-xs-12 sportBox effect8">
        <div class="col-xs-3">
            Sports
        </div>
        <div class="col-xs-2">
            + 354.343 Overall winnings
        </div>
        <div class="col-xs-2">
            50% win ratio
        </div>

        <div class="col-xs-2">
            87.23 average win
        </div>

        <div class="col-xs-2">
            1 ready for review
        </div>
    </div>

    <div id="Open" class="col-xs-12 openBetsBox effect8">
        <div class="col-xs-3">
            Open
        </div>
        <div class="col-xs-2">
            3 open
        </div>
        <div class="col-xs-2">
            1 Ready to review
        </div>

        <div class="col-xs-2">

        </div>

        <div class="col-xs-2">
            btn
            btn
        </div>
    </div>
    <div ng-show="vm.showOpenBets">
        <div class="col-xs-12 openCurrentBetsBox effect8">
            BETTS DSFJEPITJE OIDJFOIDJFOIDS DDFFDSSDF
        </div>
    </div>

</div>

<div class="col-md-1">
    <table>
        <thead>
            <th>Case Id</th>
            <th>Sport</th>
            <th>Event</th>
            <th>Pick</th>
            <th>Stake</th>
            <th>Odds</th>
            <th>SNR</th>
            <th>Back/lay</th>
            <th>Account</th>
            <th>Commission</th>
            <th>Bet Type</th>
            <th>Outcome</th>
            <th>Winnings</th>
            <th>Case Profit</th>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Sport</td>
            <table>

            </table>
        </tr>
        </tbody>


    </table>

</div>