<div id="logBookAcca" class="container-fluid">
    <div class="col-md-1">

    </div>

    <div class="col-md-10">

        <div id="Open" class="row effect8 paddingBottomAndTop075">
            <div class="col-xs-4">
                <h2 class="inline">OPEN</h2>
                <h2 class="inline betSmithColorText"><b>(3)</b></h2>
            </div>
            <div class="col-xs-2">
                <h3>
                    <div class="inline betSmithColorText"><b>1</b></div>
                    Ready to review
                </h3>
            </div>
            <div class="col-xs-6">
                <img class="pull-right" src="static/images/info.png" alt="btn" class="img-rounded">
                <img ng-click="vm.editMode = !vm.editMode" class="pull-right" src="static/images/pencilEdit.png"
                     alt="btn" class="img-rounded">
                <img ng-click="vm.showOpenBets = !vm.showOpenBets" class="pull-right" src="static/images/circledown.png"
                     alt="btn" class="img-rounded">
            </div>
        </div>


        <div id="Close" class="row effect8 paddingBottomAndTop075">
            <div class="col-xs-4">
                <h2 class="inline">CLOSED</h2>
                <h2 class="inline betSmithColorText"><b>(3)</b></h2>
            </div>
            <div class="col-xs-8">
                <img class="pull-right" src="static/images/info.png" alt="btn" class="img-rounded">
                <img class="pull-right" src="static/images/circledown.png" alt="btn" class="img-rounded">
            </div>
        </div>

    </div>
</div>


<div class="col-md-1">


</div>
</div>